@font-face {
	font-family: "GamiText";
	src: url('VAGRounded-Black.otf');
}
html,
body {
   margin:0;
   padding:0;
   height:100%;
   font: 13px/17px 'helvetica neue', arial;
}

#tagline {
	font-weight: bold;
	margin-top: -30px;
	font-size: 16px;	
}

#aboutus {
	width: 600px;
	margin: 30px;
	padding: 20px;
	border: 2px solid #999999;
   -webkit-border-radius: .5em; 
   -moz-border-radius: .5em;
   border-radius: .5em;
   -webkit-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
   -moz-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
   box-shadow: 2px 5px 5px rgba(2,2,2,.2);
   font-size: 14px;
}
#container {
   padding-top: 10px;
   min-height:100%;
   min-width: 100%;
   background: url('http://subtlepatterns.com/patterns/diagonal-noise.png') repeat;
}
#header {
   background:#ffffff;
   padding:10px;
}

#navbar {
   border: 2px solid #999999;
   height: 30px;
   margin: -2px;
   background: #99c95c;
   padding-top: 15px;
}

#navbar a {
	margin-left: 50px;
    margin-right: 50px;	
	font-family: "GamiText";
	font-size: 24px;
	text-decoration: none;
	color: black;
}

#navbar a:hover {
	color: white;
} 

#pagecontent {
   
   height: 1100px;
   width: 950px;
   background: #ffffff;
   border: 2px solid #999999;
   -webkit-border-radius: .5em; 
   -moz-border-radius: .5em;
   border-radius: .5em;
   -webkit-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
   -moz-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
   box-shadow: 2px 5px 5px rgba(2,2,2,.2);
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   width:100%;
   height:100px;   /* Height of the footer */
   background: url('http://subtlepatterns.com/patterns/dark_brick_wall.png') repeat;
   margin-top: 10px;
   padding-top: 10px;
}

#footer a {
  color: white;
  margin: 0px 10px 0px 10px;
  font-size: 18px;
  text-decoration: none;
}

.home_button {

	border: 2px solid #000000;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	-moz-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	background: -webkit-gradient(linear, left top, left bottom, from(#94f456), to(#69ae3c));
	background: -moz-linear-gradient(top,  #94f456,  #69ae3c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#94f456', endColorstr='#69ae3c');
	font-size: 18px;
	font-weight: bold;
	height: 40px;
	padding: 0px 10px 0px 10px;

}

.home_button:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#79c845), to(#69ae3c));
	background: -moz-linear-gradient(top,  #79c845,  #69ae3c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#79c845', endColorstr='#69ae3c');
}

.div_button {
	position: relative;
	top: 10%; 
}

.dev_box {
	-webkit-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	-moz-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	border: 2px solid #999999;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	width: 350px;
	height: 180px;
	margin: 0px 0px 0px 20px;
	background: #FFFFFF;
	float: left;
}

.game_box {
	-webkit-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	-moz-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	border: 2px solid #999999;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	width: 350px;
	height: 180px;
	margin: 0px 20px 0px 10px;
	background: #FFFFFF;
	float: right;
}

#mainlogo {
	height: 150px;
	background: url(logo.png) no-repeat;
	margin-left: -30px;
}

.dev_main {
	-webkit-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	-moz-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	border: 2px solid #999999;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	width: 600px;
	height: 320px;
	background: #FFFFFF;
	margin-top: 20px;
	padding: 10px 10px 10px 10px;
}



.game_main {
	-webkit-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	-moz-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	border: 2px solid #999999;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	width: 450px;
	height: 300px;
	background: #FFFFFF;
}

h1 {
	margin: 0px 0px 0px 0px;
}

#submit {

	border: 2px solid #000000;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	-moz-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	background: -webkit-gradient(linear, left top, left bottom, from(#94f456), to(#69ae3c));
	background: -moz-linear-gradient(top,  #94f456,  #69ae3c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#94f456', endColorstr='#69ae3c');
	font-size: 12px;
	font-weight: bold;
	height: 40px;
	padding: 0px 10px 0px 10px;

}

#submit:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#79c845), to(#69ae3c));
	background: -moz-linear-gradient(top,  #79c845,  #69ae3c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#79c845', endColorstr='#69ae3c');
}

#gametext {
	margin-bottom: 5px;
}

#screenshots {
	min-width: 100%;
	margin-top: 50px;   
}

#maintext {
	font-size: 18px;
	margin: 20px 50px 0px 50px;
}

#homescreen1 {
	background: url(screen1.png) no-repeat;
	height: 312px;
	width: 175px;
	float: left;
	margin-left: 50px;
	
}

#homescreen2 {
	background: url(screen2.png) no-repeat;
	height: 312px;
	width: 175px;	
}

#homescreen3 {
	background: url(screen3.png) no-repeat;
	height: 312px;
	width: 175px;
	float: right;	
	margin-top: -317px;
	margin-right: 50px;
}

#homescreentext1 {
	float: left;
	margin-left: 75px;
	font-size: 16px;
	margin-top: 10px;
	font-weight: bold;
}

#homescreentext2 {
	margin-right: 200px;
	font-size: 16px;
	margin-top: 10px;
	font-weight: bold;
}

#homescreentext3 {
	float: right;
	margin-right: 50px;
	margin-top: -17px;
	font-size: 16px;
	font-weight: bold;
}

#InakiDiv {
	margin-top: 40px;
	
}

#InakiImg {
	height: 100px;
	width: 100px;
	border: 2px solid #999999;
	background: url('avatar_inaki.gif');
	float: left;
	clear: both;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
   -moz-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
   box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	margin-left: 175px;

}

#InakiText {
	height: 100px;
	width: 450px;
	margin-right: 25px;
	margin-top: -90px;
	float: right;
	clear: both;
	margin-right: 175px;
	
}

#InakiLine {
	border: 2px solid #999999;
	width: 400px;
	margin: 190px 0px 40px 0px;
}

#IsmaelImg {
	height: 100px;
	width: 100px;
	border: 2px solid #999999;
	background: url('ismael-avatar.png');
	float: left;
	clear: both;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
   -moz-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
   box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	margin-left: 175px;

}

#IsmaelText {
	height: 100px;
	width: 450px;
	margin-right: 25px;
	margin-top: -90px;
	float: right;
	clear: both;
	margin-right: 175px;
	
}

#IsmaelLine {
	border: 2px solid #999999;
	width: 400px;
	margin: 190px 0px 40px 0px;
}

#BrendanImg {
	height: 100px;
	width: 100px;
	border: 2px solid #999999;
	background: url('brendan.png');
	float: left;
	clear: both;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
   -moz-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
   box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	margin-left: 175px;
}

#BrendanText {
	height: 100px;
	width: 450px;
	margin-right: 175px;
	margin-top: -95px;
	float: right;
	clear: both;
}
