@font-face {
	font-family: "GamiText";
	src: url('VAGRounded-Black.otf');
}
html,
body {
   margin:0;
   padding:0;
   height:100%;
   text-align: justify;
   font-size: 14px;
   line-height: 1.5em;
   font-family: "Helvetica";
}

h2 {
	font-family: "GamiText";
	margin-top: 50px; 
	font-size: 24px;
	text-align: left;
	margin-left: 20px;
	color: #55a51c;
    
}

.headerText {
	font-family: "GamiText";
    color: #55a51c;
    font-size: 32px;
	margin-top: 30px;
	padding: 20px 20px 0px 20px;
}

#aboutUs {
    text-align: left;
}

#worksContent {
	height: 500px;
	width: 100%;
}

#apiContent {
	height: 500px;
	width: 100%;
}

.aboutText {
	text-align: left;
	margin-left: 75px;
	width: 675px;
	margin-top: 20px;
}

#aboutPitch {
	font-size: 24px;
	line-height: 1.6em;   
}

#header {
   background:#ffffff;
   padding:10px;
}

#navbar {
   border: 2px solid #000000;
   height: 30px;
   margin: -2px;
   background: -webkit-linear-gradient(#99cd55, #7bae36);
   padding-top: 12px;
   padding-bottom: 3px;
   z-index: 10;
   position: relative;
   text-align: center;
   width: 100%;
   min-width: 900px;
}

#blognavbar {
   margin: -55px 1px -2px 1px;
}

#navbar a, #blognavbar a {
	margin-left: 50px;
    margin-right: 50px;	
	font-size: 24px;
	text-decoration: none;
	color: black;
}

#navbar a:hover {
	color: #FFFFFF;
} 

#pageContent {
   text-align: center;
/*   background: -webkit-gradient(radial, center center, 200, center center, 800, from(white), to(#ecac00));
*/   min-width: 800px;
/*   background: -webkit-gradient(radial, center center, 0, center center, 800, from(white), to(#ecac00));
*/
}

#footer {
   width:100%;
   height:100px;   /* Height of the footer */
   background: #000000;
   padding-bottom: 20px;
   text-align: center;
   min-width: 900px;
}

#footer a {
  color: white;
  margin: 0px 10px 0px 10px;
  font-size: 18px;
  text-decoration: none;
}

.div_button {
	position: relative;
	top: 10%; 
}

#screenOne {
	background: url('screen1.png') center no-repeat;
	height: 330px;
	width: 190px;
	background-size: contain;
	margin: 10px 0px 0px 45px;
}

#screenTwo {
	background: url('screen2.png') center no-repeat;
	height: 330px;
	width: 190px;
	float: left;
	background-size: contain;
	margin: -20px 0 0 40px;
}

#pointOne {
	float: left;
	font-family: "GamiText";
	font-size: 20px;
	margin-left: 20px;
}

#pointTwo {
	display: inline;
	font-family: "GamiText";
	font-size: 20px;
	width: 300px;
	height: 550px;
}

#pointThree {
	display: inline;
	font-family: "GamiText";
	font-size: 20px;
	width: 100px;
	height: 400px;
}

#pointOneText {
	margin-left: -40px;
	cursor: default;
}

#pointTwoText {
	width: 200px;
	margin: 50px 0 0 365px;
	height: 50px;
	cursor: default;
}

#pointThreeText {
	width: 250px;
	margin: -210px 0 0 650px;
	height: 75px;
	cursor: default;
}

#plus {
	font-family: "GamiText";
	font-size: 70px;
	margin-left: 270px;
	margin-top: -200px;
}

#equals {
	font-family: "GamiText";
	font-size: 70px;
	width: 50px;
	height: 50px;
	margin-left: 590px;
	margin-top: 110px;
}

#money {
	background: url('money.png') no-repeat center;
	width: 200px;
	height: 176px;
	margin-top: 20px;
	margin-left: 690px;
}

#mainlogo {
	height: 75px;
	background: url('logo.png') no-repeat;
	background-size: contain;
	margin-left: -10px;
}

h1 {
	margin: 0px 0px 0px 0px;
}

#mainText {
	font-size: 42px;
	height: 30px;
	margin-top: 40px;
}

#secondaryText {
	font-size: 26px;
	margin-top: 20px;
}

#phones {
	margin-top: -20px;
	width: 100%;
	height: 400px;
}

.bioImg {
	height: 100px;
	width: 100px;	
	float: left;
	clear: both;
	border: 2px solid #000000;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
    -moz-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
    box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	margin-left: 50px;
}

#InakiImg { background: url('about/avatar_inaki.gif'); }
#IsmaelImg { background: url('about/ismael-avatar.png'); }
#BrendanImg { background: url('about/brendan.png');}
#AngelImg {	background: url('about/angel.gif');}

.bioText {
	height: 100px;
	width: 550px;
	float: left;
	margin-left: 200px;
	margin-top: -100px;
	clear: both;	
}

.bioDiv {
	margin-top: 50px;
	width: 500px;
	height: 120px;
}

.contacttext {
	text-align: left;
	padding: 40px 100px 0px 100px;
	font-size: 14px;
}

#GGBios {
	width: 100%;
	height: 600px;	
}

.worksText {
	margin-left: 75px;
	width: 750px;
	margin-top: 20px;
}

.apiText {
	margin-left: 75px;
	width: 750px;
	margin-top: 20px;
}

#apiSpace {
	height: 50px;
	width: 100%;
}