@font-face {
	font-family: "GamiText";
	src: url('VAGRounded-Black.otf');
}
html,
body {
   margin:0;
   padding:0;
   height:100%;
   font: 13px/17px 'helvetica neue', arial;
}

#tagline {
	font-weight: bold;
	margin-top: -30px;
	font-size: 16px;	
}

h2 {
	font-family: "GamiText";
	margin-top: 50px; 
	font-size: 24px;
	text-align: left;
	margin-left: 50px;
}

#aboutus {
	margin: 30px;
	padding: 20px;
    font-size: 32px;
    text-align: left;
    font-family: "GamiText";
    color: #55a51c;
}

#abouttext {
	text-align: left;
	margin-left: 75px;
}

#container {
   padding-top: 10px;
   min-height:100%;
   min-width: 100%;
   background: #ecac00;
}

#header {
   background:#ffffff;
   padding:10px;
   -webkit-border-radius: 1em; 
   -moz-border-radius: 1em;
   border-radius: 1em;
}

#blogheader {
   border: 3px solid #000000;	
   background:#ffffff;
   padding:10px;
   -webkit-border-radius: 1em; 
   -moz-border-radius: 1em;
   border-radius: 1em;
   height: 200px;
}

#navbar, #blognavbar {
   border: 2px solid #000000;
   height: 30px;
   margin: -2px;
   background: #55a51c;
   padding-top: 15px;
   z-index: 10;
   position: relative;
}

#blognavbar {
   margin: -55px 1px -2px 1px;
}

#navbar a, #blognavbar a {
	margin-left: 50px;
    margin-right: 50px;	
	font-family: "GamiText";
	font-size: 24px;
	text-decoration: none;
	color: black;
}

#navbar a:hover {
	color: #FFFFFF;
} 

#pagecontent {
   
   height: 1000px;
   width: 950px;
   background: #ffffff;
   border: 3px solid #000000;
   -webkit-border-radius: 1em; 
   -moz-border-radius: 1em;
   border-radius: 1em;
   -webkit-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
   -moz-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
   box-shadow: 2px 5px 5px rgba(2,2,2,.2);
}

#aboutcontent {
	height: 1300px;
   width: 950px;
   background: #ffffff;
   border: 2px solid #000000;
   -webkit-border-radius: .5em; 
   -moz-border-radius: .5em;
   border-radius: .5em;
   -webkit-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
   -moz-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
   box-shadow: 2px 5px 5px rgba(2,2,2,.2);
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   width:100%;
   height:100px;   /* Height of the footer */
   background: url('http://subtlepatterns.com/patterns/dark_brick_wall.png') repeat;
   margin-top: 10px;
   padding-bottom: 20px;
}

#footer a {
  color: white;
  margin: 0px 10px 0px 10px;
  font-size: 18px;
  text-decoration: none;
}

.home_button {

	border: 2px solid #000000;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	-moz-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	background: -webkit-gradient(linear, left top, left bottom, from(#94f456), to(#69ae3c));
	background: -moz-linear-gradient(top,  #94f456,  #69ae3c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#94f456', endColorstr='#69ae3c');
	font-size: 18px;
	font-weight: bold;
	height: 40px;
	padding: 0px 10px 0px 10px;

}

.home_button:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#79c845), to(#69ae3c));
	background: -moz-linear-gradient(top,  #79c845,  #69ae3c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#79c845', endColorstr='#69ae3c');
}

.div_button {
	position: relative;
	top: 10%; 
}

.dev_box {
	-webkit-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	-moz-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	border: 2px solid #000000;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	width: 350px;
	height: 150px;
	margin: 50px 0px 0px 20px;
	background: #FFFFFF;
	float: left;
}

#dev_text {
	margin-left: 20px;
	font-size: 18px;
}

.game_box {
	-webkit-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	-moz-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	border: 2px solid #000000;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	width: 175px;
	height: 230px;
	margin: -300px 20px 0px 10px;
	background: #FFFFFF;
	float: right;
}

#mainlogo {
	height: 150px;
	background: url('logo.png') no-repeat;
	margin-left: -30px;
	margin-bottom: 5px;
}

.dev_main {
	-webkit-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	-moz-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	border: 2px solid #000000;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	width: 600px;
	height: 320px;
	background: #FFFFFF;
	margin-top: 20px;
	padding: 10px 10px 10px 10px;
}



.game_main {
	-webkit-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	-moz-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	border: 2px solid #000000;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	width: 450px;
	height: 300px;
	background: #FFFFFF;
}

h1 {
	margin: 0px 0px 0px 0px;
}

#submit {

	border: 2px solid #000000;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	-moz-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	background: -webkit-gradient(linear, left top, left bottom, from(#94f456), to(#69ae3c));
	background: -moz-linear-gradient(top,  #94f456,  #69ae3c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#94f456', endColorstr='#69ae3c');
	font-size: 12px;
	font-weight: bold;
	height: 40px;
	padding: 0px 10px 0px 10px;

}

#submit:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#79c845), to(#69ae3c));
	background: -moz-linear-gradient(top,  #79c845,  #69ae3c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#79c845', endColorstr='#69ae3c');
}

#gametext {
	margin-bottom: 5px;
}

#screenshots {
	min-width: 100%;
	margin-top: 50px;   
}

#maintext {
	font-size: 18px;
	margin: 20px 50px 0px 50px;
}

#homescreen1 {
	height: 360px;
	width: 250px;
	float: left;
	margin-left: 10px;	
}

#homescreen1 img {
	z-index: 2;
	
}

#homescreen2 {
	height: 360px;
	width: 320px;
	float: left;
	position: relative;
	margin-left: -5px;
}

#homescreen2 img {
	z-index: 1;
	
}

#homescreen3 {
	height: 350px;
	width: 270px;
	float: right;	
	margin-top: -380px;
	margin-right: 195px;
}

#homescreen3 img {
	z-index: -1;
}

#homescreentext1 {
	float: left;
	font-size: 16px;
	margin-top: 5px;
	font-weight: bold;
	margin-left: 60px;
	-webkit-transform: rotate(-5deg);	
	-moz-transform: rotate(-5deg);
}

#homescreentext2 {
	margin-right: 450px;
	font-size: 16px;
	font-weight: bold;
}

#homescreentext3 {
	float: right;
	margin-right: 320px;
	margin-top: -60px;
	font-size: 16px;
	font-weight: bold;
	-webkit-transform: rotate(5deg);	
	-moz-transform: rotate(5deg);
}

#devimg {
	background: url('developer.png') no-repeat;
	width: 140px;
	height: 40px;
}

#gamerimg {
	background: url('gamer.png') no-repeat;
	width: 140px;
	height: 40px;
	padding-bottom: 20px;
}

.GamiText{
	font-family: "GamiText";
}

#InakiDiv {
	margin-top: 40px;
	
}

#InakiImg {
	height: 100px;
	width: 100px;
	border: 2px solid #000000;
	background: url('about/avatar_inaki.gif');
	float: left;
	clear: both;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
   -moz-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
   box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	margin-left: 175px;

}

#InakiText {
	height: 100px;
	width: 450px;
	margin-right: 25px;
	margin-top: -90px;
	float: right;
	clear: both;
	margin-right: 175px;
	
}

#InakiLine {
	border: 2px solid #000000;
	width: 400px;
	margin: 190px 0px 40px 0px;
}

#IsmaelImg {
	height: 100px;
	width: 100px;
	border: 2px solid #000000;
	background: url('about/ismael-avatar.png');
	float: left;
	clear: both;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
   -moz-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
   box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	margin-left: 175px;

}

#IsmaelText {
	height: 100px;
	width: 450px;
	margin-right: 25px;
	margin-top: -90px;
	float: right;
	clear: both;
	margin-right: 175px;
	
}

#IsmaelLine {
	border: 2px solid #000000;
	width: 400px;
	margin: 190px 0px 40px 0px;
}

#BrendanImg {
	height: 100px;
	width: 100px;
	border: 2px solid #000000;
	background: url('about/brendan.png');
	float: left;
	clear: both;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
   -moz-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
   box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	margin-left: 175px;
}

#BrendanText {
	height: 100px;
	width: 450px;
	margin-right: 175px;
	margin-top: -95px;
	float: right;
	clear: both;
}

#BrendanLine {
	border: 2px solid #000000;
	width: 400px;
	margin: 150px 0px 40px 0px;
}

#AngelImg {
	height: 100px;
	width: 100px;
	border: 2px solid #000000;
	background: url('about/angel.gif');
	float: left;
	clear: both;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
   -moz-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
   box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	margin-left: 175px;
}

#AngelText {
	height: 100px;
	width: 450px;
	margin-right: 175px;
	margin-top: -95px;
	float: right;
	clear: both;
}

#blognavitems {
	margin-top: -10px;
}

#apitext {
	text-align: justify;
	padding: 40px 100px 0px 100px;
	font-size: 14px;
}

.contacttext {
	text-align: left;
	padding: 40px 100px 0px 100px;
	font-size: 14px;
}

#team {
	
}