.home_button {

	border: 2px solid #000000;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	-moz-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	background: -webkit-gradient(linear, left top, left bottom, from(#94f456), to(#69ae3c));
	background: -moz-linear-gradient(top,  #94f456,  #69ae3c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#94f456', endColorstr='#69ae3c');
	font-size: 18px;
	font-weight: bold;
	height: 50px;
	padding: 0px 10px 0px 10px;

}

.home_button:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#79c845), to(#69ae3c));
	background: -moz-linear-gradient(top,  #79c845,  #69ae3c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#79c845', endColorstr='#69ae3c');
}

.div_button {
	position: relative;
	top: 50%; 
}

.dev_box {
	-webkit-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	-moz-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	border: 2px solid #999999;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	width: 450px;
	height: 300px;
	margin: 20px 10px 0px 20px;
	float: left;

}

.game_box {
	-webkit-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	-moz-box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	box-shadow: 2px 5px 5px rgba(2,2,2,.2);
	border: 2px solid #999999;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	width: 450px;
	height: 300px;
	margin: 20px 20px 0px 10px;
	float: right;
}

#mainlogo {
	height: 150px;
	width: 199px;
}
